@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}

.header {
  position: relative;
  width: 100%;
  height: 55vh;
  background-color: black;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.brand {
  color: #fff;
  padding-top: 2rem;
}

.caption {
  position: absolute;
  width: 100%;
  top: 30%;
}

.typed {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.05rem 0.1rem black;
}

.typed-string {
  display: inline;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 48em) {
  .typed,
  .typed-string {
    font-size: 2.5rem;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.social {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.social h2{
  margin-bottom: 2rem;
}

.social {
  color: white;
  background-color: black;
}
.social .col-md-4 {
  margin-bottom: 1.5rem;
}
img {
  width: 120px;
  height: 120px;
  margin-bottom: 1.5rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: ease-in-out all 0.2s;
  -webkit-transition: ease-in-out all 0.2x;
  -ms-transition: ease-in-out all 0.2s;
  -o-transition: ease-in-out all 0.2s;
}
.social img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}